<div class="postsContainer">
    {% for post in results %}
        <div class="post {% if post.video %}video{% endif %} noImage">
            {% if post.post_image|length > 0 %}
                <a href="/out.php?id={{ post.id }}" class="postLink">
                    <div class="featuredImageContainer">
                        <img loading="lazy" class="featuredImage" src="{{ cdnBaseUrl }}{{ post.post_image }}" alt="Featured image for {{ post.post_title }}"><img loading="lazy" class="featuredImageBlur" src="{{ cdnBaseUrl }}{{ post.post_image }}" alt="Background image for {{ post.post_title }}">
                    </div>
                </a>
            {% else %}
                <a href="/out.php?id={{ post.id }}" class="postLink">
                    <div class="featuredImageContainer noImage">
                        <div class="noImageIconContainer">
                            <i class="far fa-file-alt noImageIcon"></i>
                        </div>
                    </div>
                </a>
            {% endif %}
            <div class="postTextContainer">
                {% if post.post_title|length > 0 %}
                    <h3 class="postTitle">
                        <a href="/out.php?id={{ post.id }}" class="postLink">{{ post.post_title }}</a>
                    </h3>
                {% endif %}
                <p class="postText">
                    <span class="postDescription">{{ post.post_description }}</span>
                </p>
                <p class="siteNameContainer">
                    {% if post.site_host %}
                        <span class="favicon">
                            <img height="16" width="16" src="https://www.google.com/s2/favicons?domain={{ post.site_host }}">
                        </span>
                    {% endif %}
                    <span class="siteName">
                        <a href="/index.php?query=site_name%3A%22{{ post.site_name|url_encode }}%22&sorter=post_pub_date_sorter%20desc" onclick="app.searchBySiteName(this); return false;">{{ post.site_name }}</a>
                    </span>
                </p>
                <p class="postDate">
                    <a href="/post.php?id={{ post.id }}">{{ post.post_pub_date_sorter }}</a>
                    &bull; {{ include('partials/sub-cta.twig') }}
                </p>
                {% if post.post_media|length > 0 %}
                    <p class="postTags">
                        <i class="fas fa-tags" title="Auto-tagged"></i>
                        {% for mediaTitle in post.post_media %}
                            <a href="/index.php?query=%22{{ mediaTitle|url_encode }}%22&sorter=post_pub_date_sorter%20desc" onclick="app.searchByMedia(this); return false;">{{ mediaTitle }}</a>{% if loop.last %}{% else %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>