{% extends "base.twig" %}

{% block title %}{% if query != '' %}Search results - {{ query }}{% else %}Home{% endif %}{% endblock %}

{% block bodyClass %}index{% endblock %}

{% block pageHeader %}
{{ parent() }}

{{ include('partials/searchform.twig') }}

{% endblock %}

{% block content %}
<div class="contentContainer row">
	<div class="mainContainer colMain">
		<h2 class="pageTitle">
			{% if query == "" %}
				Home
			{% else %}
				Search results
			{% endif %}
		</h2>
		<div class="searchResultsControls">
			<p class="searchResultsInfo">
				{{ numResults }} results{% if numResults > 0 and ttlPages > 1 %}, page {{ pageNumber }} of {{ ttlPages }}{% endif %}
			</p>
		</div>
		<div class="posts">

			{{ include('partials/posts.twig') }}

			{% if hasMore %}
				<div class="showMorePostsFormContainer">
					<form class="showMorePostsForm" method="get" action="">
						<input type="hidden" name="query"  value="{{ query }}" />
						<input type="hidden" name="start"  value="{{ nextOffset }}" />
						<input type="hidden" name="sorter"  value="{{ sorter }}" />
						<button class="searchButton pagination button" type="submit" name="submit">
							Next page
						</button>
					</form>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}