{% extends "base.twig" %}

{% block title %}Trending anime{% endblock %}

{% block bodyClass %}text{% endblock %}

{% block pageHeader %}
    {{ parent() }}

    {{ include('partials/searchform.twig') }}
{% endblock %}

{% block content %}
    <h2>Trending anime</h2>

    <div class="trendingAnimeContainer">
        <div class="timeFilters">
            {% for key, season in relevantSeasons %}
                <div class="timeFilter {% if period == key %}selected{% endif %}">
                    <a href="/trendinganime.php?s={{ key }}">{{ season.label }}</a>
                </div>
            {% endfor %}
        </div>

        <ul class="trendingAnimeList">
            {% for anime in relevantAnimeSeries %}
                <li class="trendingAnimeListItem">
                    <a class="trendingAnimeTitle" href="/index.php?query=%22{{ anime.title|url_encode }}%22&sorter=post_pub_date_sorter%20desc">{{ anime.title }}</a>
                    <span class="trendingPostsCount">{{ anime.count }} posts found</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}